<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BMI_Project">
        <activity
            android:name=".Bottom_Navigation.MainActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Fragment_Layout.FragmentActivity"
            android:exported="false"/>
        <activity
            android:name=".Notification.No_"
            android:exported="false" />
        <activity
            android:name=".Notification.Notification__"
            android:exported="false" />
        <activity
            android:name=".RoomDb.RoomDB"
            android:exported="false" />
        <activity
            android:name=".Recycler"
            android:exported="false" />
        <activity
            android:name=".List.ListTesting"
            android:exported="true" />
        <activity
            android:name=".Animation.AnimationActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" />
        <activity
            android:name=".Intent.FromActivity"
            android:exported="true" />
        <activity
            android:name=".Intent.ToActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
    </application>

</manifest>